$rhythm: 20px;

$invoiceMaxWidth: 800px;
$borderRadius: 4px;

$tableBorderColor: #ccc;
$boxBgColor: #eee;
$bgColor: white;
$addColor: darkgreen;
$removeColor: darkred;


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice {
  max-width: $invoiceMaxWidth;
  margin: ($rhythm * 2) auto;
  border: 1px solid $tableBorderColor;
  padding: 2 * $rhythm;
  border-radius: $borderRadius;
  background: $bgColor;
}

.brand {
  margin-bottom: $rhythm * 2;
  .logo {
    display: inline-block;
    border-radius: $borderRadius;
  }
}

.addresses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  .from, .to {
    padding: $rhythm;
    border-radius: $borderRadius;
    width: 100%;
    max-width: $invoiceMaxWidth / 3;
  }
  .from {
    display: block;
    font-style: normal;
    margin-right: $rhythm / 2;
    background: #efefef;
    border: 1px solid $tableBorderColor;
  }
  .to {
    display: block;
    margin-left: $rhythm / 2;
    padding: 0;
    .value {
      text-align: right;
    }
  }
  .address {
    display: block;
  }
}

.currency {
  text-align: right;
  word-break: break-word;
}

input, input[type=number] {
  padding: $rhythm / 4;
  border: 1px dotted lighten($tableBorderColor, 2%);
  border-radius: $borderRadius;
  min-width: $rhythm * 2;
  width: 100%;
}
input[type=number] {
  text-align: center;
}

.lineItems {
  margin-bottom: $rhythm * 4;
  .addItem {
    padding-top: $rhythm;
    button {
      @extend %flex-center;
      background: none;
      padding: $rhythm / 2;
      border: 1px solid $addColor;
      color: $addColor;
      border-radius: $borderRadius;
      float: right;
      .addIcon {
        color: $addColor;
        margin-right: $rhythm / 4;
      }
    }
  }
}

.gridTable {
  margin: 0 auto;
  border: 1px solid $tableBorderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  display: grid;
  & > .row {
    display: grid;
    grid-template-columns: 1fr repeat(2, 5fr) 2fr repeat(2, 3fr) 2fr; //repeat(7, 1fr);
    border-bottom: 1px solid $tableBorderColor;
    &:last-of-type {
      border-bottom: none;
    }
    &.header > div {
      text-align: center;
      font-weight: bold;
      background: $boxBgColor;
    }
    &.editable > div {
      padding: $rhythm / 2;
    }
    & > div {
      @extend %flex-center;
      padding: ($rhythm/2);
      border-left: 1px solid $tableBorderColor;
      width: 100%;
      line-height: $rhythm;
      min-width: $rhythm;
      &:first-of-type {
        padding: ($rhythm/2) 0;
        border-left: none;
      }
      &:last-of-type {
        padding: ($rhythm/2) 0;
      }
      &:first-of-type, &:nth-child(4), &:last-of-type {
        text-align: center;
      }
      & > .deleteItem {
        @extend %flex-center;
        color: $removeColor;
        background: none;
        border: 0;
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .currency > input[type=number] {
    max-width: $rhythm * 4;
  }

}

.valueTable {
  margin: 0 0 0 auto;
  border: 1px solid $tableBorderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;
  & > .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $tableBorderColor;
    &:last-of-type {
      border-bottom: none;
    }
    & > div {
      padding: ($rhythm/2);
    }
    & > .label {
      @extend %flex-center;
      justify-content: flex-start;
      font-weight: bold;
    }

  }
}

.totalContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pay {
  display: flex;
  justify-content: flex-end;
  padding: ($rhythm * 1) 0 ($rhythm) $rhythm;
}

button.payNow {
  display: block;
  padding: ($rhythm) ($rhythm * 2);
  background: lightyellow;
  border-radius: $borderRadius;
  border: 1px solid #444;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  .comments {
    padding: $rhythm;
    border-radius: $borderRadius;
    h4, h5 {
      margin-top: 0;
      margin-bottom: $rhythm / 2;
    }
  }
  .comments {
    text-align: left;
    background: #eee;
  }
  .closing {
    padding-top: $rhythm;
  }

}
